.box {
  height: 200px;
  width: 100%;
}

#noir {
  background: #222;
  border: 15px solid #000;
}

.boxs {
  width: 100%;
}

#vert {
  background: #292;
  border: 15px solid #070;
}

#rouge {
  background: #922;
  border: 15px solid #700;
}

#bleu {
  background: #229;
  border: 15px solid #007;
}

@media (min-width: 600px) {
  #boxs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .box {
    height: 200px;
    width: 50%;
    flex-wrap: wrap;
  }

  #vert {
    order: -1;
  }
}

@media (min-width: 900px) {
  #boxs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }

  .box {
    height: 200px;
    width: 33%;
  }

  #noir {
    display: none;
  }
}

@media (min-width: 1200px) {
  #boxs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }

  .box {
    height: 200px;
    width: 25%;
  }

  #vert {
    order: 0;
  }

  #noir {
    display: block;
  }
}
